/* Header */
.header {
    display: flex;
    align-items: center;
}

/* navbar */
.navbar {
    width: 80%;
    height: 50px;
    background-color: black; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    right: -73%;
    margin-top: 5px;
    padding: 20px;
}

.navbar:hover {
    animation: navbar_animation 1s ease-out forwards;
}

@keyframes navbar_animation{
    0% {right: -73%;}
    100% {right: 0%;}
}
.navbar a {
    text-decoration: none;
    color: white;
    font-family: 'Fredoka One', cursive;;
    font-size: 20px;
    padding: 10px;
    margin: 0px 50px;
}

.navbar a:hover {
    background-color: yellow;
    color: black;
    border-radius: 20px;
    transform: scale(1.2);
}

/* Logo */
.logo h3 {
    font-family: 'Fredoka One', cursive;
    padding: 7px;
    border-top: solid 3px black;
    margin-top: -5px;
    text-align: center;
}
.logo_img img {
    width: 110px;
    margin-top: 5px;
}

/* header */

/* main */
body{
    font-weight:normal;
    font-family: "Open Sans", sans-serif;
    background-color: #000000;
    color:white;
}

.container-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 40px;
}

.card-box{
    width: 300px;
    text-align: justify;
    border: 2px dotted gray;
    border-radius: 10px;
    padding: 5px;
}

.picture{
    object-fit: cover;
    width: 50%;
    height: 150px;
    border-radius: 5px;
}

h2{
    font-weight: normal;
}

/* responsivo */
@media (max-width: 400px) {
    .picture{
        width: 25%;
    }
}

/* Footer */
footer {
    font-family: "Fredoka One", cursive;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    background: black;
  }
  
  .footer img{
    height: 30px;
    margin-left: 50px;
  }
  
  .icones {
    /* display: inline-flex; */
    padding: 25px;
  }
  
  
  .copyright {
    color: #555;
    text-align: center;
  }