/* Header */
.header {
    display: flex;
    align-items: center;
}

/* navbar */
.navbar {
    width: 80%;
    height: 50px;
    background-color: black; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    right: -73%;
    margin-top: 5px;
    padding: 20px;
}

.navbar:hover {
    animation: navbar_animation 1s ease-out forwards;
}

@keyframes navbar_animation{
    0% {right: -73%;}
    100% {right: 0%;}
}
.navbar a {
    text-decoration: none;
    color: white;
    font-family: 'Fredoka One', cursive;;
    font-size: 20px;
    padding: 10px;
    margin: 0px 50px;
}

.navbar a:hover {
    background-color: yellow;
    color: black;
    border-radius: 20px;
    transform: scale(1.2);
}

/* Logo */
.logo h3 {
    font-family: 'Fredoka One', cursive;
    padding: 7px;
    border-top: solid 3px black;
    margin-top: -5px;
    text-align: center;
}
.logo_img img {
    width: 110px;
    margin-top: 5px;
}

/* header */

/* main */
body{
    font-weight:normal;
    font-family: 'Fredoka One', cursive;
    background-color: #000000;
    color:white;
    
}
.picture{
    object-fit: cover;
    width: 15%;
    height: 130px;
}
.box{
    display: flex;
}
h2{
    font-weight: normal;
    margin-left: 5px;
    width: 100px;
}
/* responsivo */
@media (max-width: 400px) {
    .picture{
        width: 25%;
    }
}