html {
  height: 100%;
  background-color: black;
}

html,
body {
  padding: 0;
  margin: 0;
}

/* Header */
.pageheader {
  display: flex;
  position: sticky;
  top: 0px;
  z-index: 10;
}

/* navbar */
.navbar {
  width: 80%;
  height: 50px;
  border-bottom: solid 5px green;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  right: 0%;
  padding: 20px;
  
}

/* .navbar:hover {
  animation: navbar_animation 1s ease-out forwards;
}

@keyframes navbar_animation {
  0% {
    right: -73%;
  }
  100% {
    right: 0%;
  }
} */

.navbar a {
  text-decoration: none;
  color: white;
  font-family: "Fredoka One", cursive;
  font-size: 20px;
  padding: 10px;
  margin: 0px 50px;
}

.navbar a:hover {
  background-color: green;
  color: white;
  transform: scale(1.5);
  transition: 0.5s;
}

/* Logo */
.logo img {
  width: 110px;
  border-bottom: solid 5px green;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
 
}

/* header */




/* banner parallax */
canvas {
  background: #000;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}


#title {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  color: white;

  -webkit-text-stroke-width: 10px;
  -webkit-text-stroke-color: black;

  text-align: center;
  font-family: "Fredoka One", cursive;
  font-weight: 300;
  font-size: 200px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}

#subtitle {
  position: absolute;
  top: 95%;
  left: 0;
  right: 0;
  color: white;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;

  text-align: center;
  font-family: "Fredoka One", cursive;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}

.parallax {
  background-image: url("./banner.png");
  min-height: 600px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
  z-index: 2;
}

/* main */
main {
  background: #1d1d1d;
}

/* Footer */
footer {
  font-family: "Fredoka One", cursive;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background: black;
}

.footer img{
  height: 30px;
}

.icones {
  /* display: inline-flex; */
  padding: 25px;
}


.copyright {
  color: #555;
  text-align: center;
}

.parallax {
    background-image: url("./banner.png");
    min-height: 600px;
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    z-index: 2;
  }
