html {
  height: 100%;
  background-color: black;
}

html,
body {
  padding: 0;
  margin: 0;
}

/* Header */
.pageheader {
  display: flex;
}

/* navbar */
.navbar {
  width: 80%;
  height: 100px;
  background-color: green;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  right: -73%;
  /* margin-top: 5px; */
  padding: 20px;
  z-index: 1;
}

.navbar:hover {
  animation: navbar_animation 1s ease-out forwards;
}

@keyframes navbar_animation {
  0% {
    right: -73%;
  }
  100% {
    right: 0%;
  }
}

.navbar a {
  text-decoration: none;
  color: black;
  font-family: "Fredoka One", cursive;
  font-size: 20px;
  padding: 10px;
  margin: 0px 50px;
}

.navbar a:hover {
  background-color: black;
  color: white;
  border-radius: 20px;
  transform: scale(1.5);
}

/* Logo */
.logo img {
  width: 110px;
 
}

/* header */




/* banner parallax */
canvas {
  background: #000;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}


#title {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  color: white;

  -webkit-text-stroke-width: 10px;
  -webkit-text-stroke-color: black;

  text-align: center;
  font-family: "Fredoka One", cursive;
  font-weight: 300;
  font-size: 200px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}

#subtitle {
  position: absolute;
  top: 95%;
  left: 0;
  right: 0;
  color: white;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;

  text-align: center;
  font-family: "Fredoka One", cursive;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}

<<<<<<< HEAD
.parallax {
  background-image: url("./banner.png");
  min-height: 600px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
  z-index: 2;
}

/* main */
main {
  background: #1d1d1d;
}

/* Footer */
footer {
  font-family: "Fredoka One", cursive;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background: black;
}

.container {
  font-family: "Fredoka One", cursive;
  margin: 0;
}

.container a {
  color: white;
  text-decoration: none;
  margin: 0px 10px;
  padding: 10px 10px;
  margin-bottom: 3px;
  position: relative;
}

.footer img{
  height: 30px;
}

.icones {
  /* display: inline-flex; */
  padding: 25px;
}


.copyright {
  color: #555;
  text-align: center;
}
=======

.parallax {
    background-image: url("./banner.png");
    min-height: 600px;
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    z-index: 2;
  }
>>>>>>> 2582c811f461843b27f5c73c8086101ac94d28bb
