html {
  scroll-behavior: smooth; /* especifica o comportamento de rolagem */
}

body {
  font-family: "Fredoka One";
  font-style: normal;
  font-display: swap;
  color: white;
  background-color: black;
  text-align: center;
}



/* conteúdo */
p.texto {
  font-family: "Open Sans", sans-serif;
  margin-top: 20px;
  padding: 0 150px;
  text-align: justify;
}

h2 {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 3px;
  margin-top: 50px;
  color: green;
}

h2:hover {
  color: green;
  transform: rotate(-360deg);
  transition: all 0.2s ease-in-out;
}

.valores li {
  font-family: "Open Sans", sans-serif;
  list-style: none;
  text-align: justify;
  margin-left: 110px;
  margin-top: 20px;
}

.span1 {
  color: red;

}

.span2 {
  color:aqua;
}

.span3 {
  color: violet;
}

.span4 {
  background-image: linear-gradient(
    to left,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Footer */
footer {
  font-family: "Fredoka One", cursive;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background: black;
}

.footer img {
  height: 30px;
  margin-left: 50px;
}

.icones {
  /* display: inline-flex; */
  padding: 25px;
}

.copyright {
  color: #555;
  text-align: center;
}
